@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'prose.css';

@font-face {
  font-family: 'Nanum Myeongjo Regular';
  src: url('../fonts/NanumMyeongjo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nanum Myeongjo ExtraBold';
  src: url('../fonts/NanumMyeongjo-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cutive Mono';
  src: url('../fonts/CutiveMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    /* colors */
    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-150: #ededed;
    --neutral-200: #e5e5e5;
    --neutral-250: #dedede;
    --neutral-300: #d4d4d4;
    --neutral-350: #c2c2c2;
    --neutral-400: #a3a3a3;
    --neutral-450: #8a8a8a;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-750: #363636;
    --neutral-800: #262626;
    --neutral-900: #171717;

    --block-yellow: #f7be6824;
    --block-yellow-dark: #f0bb6c24;

    /* fonts */
    --font-serif: 'Nanum Myeongjo Regular';
    --font-serif-bold: 'Nanum Myeongjo ExtraBold';
    --font-mono: 'Cutive Mono';

    /* layout */
    --height-header: 60px;
  }
}

@layer base {
  body {
    @apply m-0 p-0 min-h-dvh relative;
    @apply font-serif text-primary bg-primary text-size-base;
  }
}
