@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'prose.css';

@font-face {
  font-family: 'Nanum Myeongjo';
  src: url('../fonts/NanumMyeongjo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cutive Mono';
  src: url('../fonts/CutiveMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    /* colors */
    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-150: #ededed;
    --neutral-200: #e5e5e5;
    --neutral-250: #dedede;
    --neutral-300: #d4d4d4;
    --neutral-350: #c2c2c2;
    --neutral-400: #a3a3a3;
    --neutral-450: #8a8a8a;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-750: #363636;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --bg-highlight-gray: #f1f1ef;
    --bg-highlight-yellow: #f8ebc4;
    --bg-highlight-red: #faecec;
    --bg-code-block: #1c1917e6;
    --bg-code-block-title: #fff8d21a;

    /* fonts */
    --font-serif: 'Nanum Myeongjo';
    --font-mono: 'Cutive Mono';

    /* layout */
    --header-height: 82px;
    --footer-height: 52px;
    --main-height: calc(100dvh - var(--header-height));
  }
}

@layer base {
  body {
    @apply m-0 p-0 min-h-dvh relative;
    @apply font-serif text-primary bg-primary;
  }
}
